
<form (ngSubmit) = "login()" #form = "ngForm">    
  <mat-grid-list cols="1" [rowHeight] = "100">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field 
          appearance="outline">
           <mat-label> User Name </mat-label>
           <input matInput 
             required
             name = "userName"
             #userName
             [(ngModel)] = "model.userName"
             required placeholder="User Name"
             value="">
           <mat-hint> Type the user </mat-hint>
           <mat-error > The user is required </mat-error>
        </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="outline">
        <mat-label> Password </mat-label>
        <input matInput 
          required 
          name = "password"
          [(ngModel)] = "model.password" 
          type="password"
          value="">  
        <mat-hint> Type a strong password </mat-hint>        
        <mat-error> Password is required </mat-error>
    </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button type="submit" color= "primary" 
        *ngIf= "!(authService.user | async) || (authService.user | async)?.id == 0"
        [disabled] = "form.touched && form.invalid"> Login </button>

      <button mat-raised-button type="button" (click) = "register()" color = "warn" 
        *ngIf= "!(authService.user | async) || (authService.user | async)?.id == 0"
        [disabled] = "form.touched && form.invalid"> Register </button>

      <button mat-raised-button type="button" (click) = "logout()" 
        *ngIf= "!!(authService.user | async) && (authService.user | async)?.id != 0">
        <mat-icon>logout</mat-icon> Logout </button>
    </mat-grid-tile> 
  </mat-grid-list>
</form>

